<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/picture-large.png" alt="Music" class="img-thumbnail rounded-circle" width="150">
            <h3>Sunyi</h3>
            <p class="lead">Composer | Programer</p>
        </div>
    </div>
</div>
     
